<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDKPbETZ7M7PHXq80VhNjZXo_o2QZCEY_k</string>
	<key>GCM_SENDER_ID</key>
	<string>835893085781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deanjustin.speedometer</string>
	<key>PROJECT_ID</key>
	<string>notification-testing-78637</string>
	<key>STORAGE_BUCKET</key>
	<string>notification-testing-78637.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:835893085781:ios:2de284cb14045b780c36dc</string>
</dict>
</plist>